@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* CSS HEX */
    --dark-orange-web: #ff8c00ff;
    --orange-web: #ffa500ff;
    --light-orange-web: #feac5b;
    --blue: #0000ffff;
    --ultramarine: #000090ff;
    --moonstone: rgb(0, 142, 174);
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: 'Rubik Pixels', cursive;
    background-image: url(NavyBlueBackground.jpg);
    background-size: cover;
}

.TitleHolder {
    min-width: 80vw;
    min-height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.TitleHolder div {
    margin-top: 30vh;
    max-width: fit-content;
    min-height: 100vh;
}

.Title {
    color: var(--dark-orange-web);
    transition: 400ms ease;
}

.Subtitle, .Title span:hover {
    color: var(--orange-web);
    transition: 400ms ease;
}

.Subtitle span:hover {
    color: var(--light-orange-web);
    transition: 400ms ease;
}