@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* CSS HEX */
    --dark-orange-web: #ff8c00ff;
    --orange-web: #ffa500ff;
    --blue: #0000ffff;
    --ultramarine: #000090ff;
    --moonstone: rgb(0, 142, 174);
}

body {
    min-height: 500vh;
    font-size: 1.5rem;
    font-family: "Audiowide", sans-serif;
    background-color: var(--ultramarine);
    color: var(--moonstone);
}

.BackgroundImage {
    background-image: url(OceanBackground.jpg);
    background-size: cover;
    max-width: 100vw;
    min-height: 100vh;
}

.TitleHolder {
    min-width: 80vw;
    min-height: 80vh;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.TitleBackgroundColor {
    margin-top: 50vh;
    background-color: var(--moonstone);
    max-width: fit-content;
    min-height: 100vh;
}

.Title {
    color: var(--dark-orange-web);
}

.Subtitle {
    color: var(--orange-web);
}