@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color pallete*/
    --dark-orange-web: #ff8c00ff;
    --orange-web: #ffa500ff;
    --light-orange-web: #feac5b;
    --ultramarine: #000090ff;
    --moonstone: rgb(0, 142, 174);

    /* Extra colors */
    --dark-red: darkred;
    --red: #f00;
    --orange: #fc0;
    --yellow: #ff0;
    --green: #0f0;
    --dark-green: darkgreen;
    --light-blue: #0ff;
    --blue: #00f;
    --dark-blue: darkblue;
    --purple: purple;
    --pink: pink;
}

body {
    min-height: 100vh;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    min-height: 100vh;
    min-width: 100vw; 
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(var(--ultramarine), var(--ultramarine), black);
  filter: blur(1px);
  z-index: -1;
}

/* Main title beginning */
.TitleHolder {
    display: grid;
    place-content: center;
    z-index: 2;
}

.TitleHolder div {
    margin-top: 30vh;
}

.Title {
    display: inline;
    color: var(--dark-orange-web);
    transition: 400ms ease;
}

.Title span:nth-child(1) {
   margin-left: 1rem;
}

.Subtitle, .Title span:hover {
    color: var(--orange-web);
    transition: 400ms ease;
}

.Subtitle span:hover {
    color: var(--light-orange-web);
    transition: 400ms ease;
}
/* Main title end */

.circle {
    display: grid;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    outline: 3px black dashed;
    outline-offset: 10px;
    border-radius: 50%;
}

.circle a {
    text-decoration: none;
    color: var(--moonstone);
}

#CircleOne {
    top: 200px;
    left: 100px;
    background-color: var(--red);
    outline-color: var(--red);
    animation-name: CircleOneMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 400ms ease;
}

#CircleOne:hover {
    background-color: var(--dark-red);
    outline-color: var(--dark-red);
    transition: 400ms ease;
}

@keyframes CircleOneMovement {
    to {
        top: 200px;
        left: 100px;
    }

    20% {
        top: 100px;
        left: 200px;
    }

    40% {
        top: 300px;
        left: 150px;
    }

    60% {
        top: 400px;
        left: 1000px;
    }

    80% {
        top: 100px;
        left: 800px;
    }
}

#CircleTwo {
    background-color: black;
    left: 500px;
    top: 200px;
    animation-name: CircleTwoMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition: 400ms ease;
}

@keyframes CircleTwoMovement {
    20% {
        left: 500px;
        top: 400px;
    }

    40% {
        left: 1000px;
    }

    60% {
        top: 20px;
    }
}

